:root{
     /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Nunito', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 2cm;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.50rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section{
  padding: 2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: #46244C;
}

.main {
  overflow: hidden; /* For animation */
}

body {
  overflow-x: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #EEF1FF;
  color: var(--text-color);
  transition: background .4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


#nav-box{
    display: flex;
    float: inherit;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: #FFFFFF;
}
#nav-bar a{
    position: relative;
    max-width: 100%;
    height: 60px;
    top: 0px;
    padding:0 15px;
    font-family: var(--title-font);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
}

#nav-icon{
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 600px;
    position: sticky;

    background: #46244C;

}

#nav-icon-text{
    position: relative; 
    padding-left: 2px;
    padding-bottom: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 0px;
    margin-left: 7px;
   
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background:  #FFFFFF no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex: 1 1 20rem;
  padding-top: .5rem;
  padding-left: .5rem;
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color: #46244C;    
}

#stud{
  font-size: 1.7rem;
  padding: 1rem 0; 
    
  color: #46244C;
}

#quote{
  font-size: 1.7rem;
  padding: 1rem 0; 

  color: #46244C;
}

.home .image{
  width: 35rem;
  height: 25rem;
  top: 5rem;
  left: 5px;
  justify-content: right;
}

.home .image img{
  width: 95%;
  padding: .5rem;
}

.About{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background:  #EEF1FF;
  background-size: cover;
  background-position: center;
}


.About .content{
  flex: 1 1 20rem;
  padding-top: 5rem;
}

.About .image{
  flex: 1 1 30rem;
}

.About .image img{
  width: 38rem;
  height: 38rem;
  padding: 2rem;
}

.About .content h3{
  font-size: 3rem;
  color: #46244C;    
}

.About .content p{
  top: 2rem;
  font-size: 1.4rem;
  color: #46244C;   
  padding: 1rem 0; 
}



#Skills{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 2rem;
  min-height: 100vh;
  align-items: center;
  background:  #EEF1FF;
  background-size: cover;
  background-position: center;
}

.Skills .heading{
  margin-top: 0%;
}

.skills__info{
  margin-top: 2rem;
}

.skills__info,
.skills__data,
.skills__blob{
  display: grid;
}

.skills__info{  
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem 2rem;
}

.skills__data{
  justify-content: center;
  text-align: center;
}

.skills__blob{
  width: 90px;
  height: 155px;
  background-color: #EEF1FF;
  border-radius: 3rem;
  place-items: center;
  margin-bottom: .1rem;
  top: 10rem;
  border: #46244C solid 2px;
}

.skills__blob img{
  width: 70px;
  bottom: 1rem;
}

.skills__name{
  top: .2rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .25rem;
  margin-top: 1.5rem;
  color: #46244C;
}

.skills__subtitle{
  font-size: 1rem;
  color:var(--text-color-light);
  margin-bottom: 1px;

}
/* Animation skills */
.skills__blob:hover img{
  animation: bounce-skills .6s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0);
  }
  20%{
    transform: translateY(-6px);
  }
  40%{
    transform: translate(0);
  }
  60%{
    transform: translateY(-3px);
  }
  80%{
    transform: translate(0);
  }
}

/*=============== PROJECTS ===============*/
#Projects{
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.Projects .heading{
  margin: 1rem;
}
.Projects  .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.Projects .box-container .box{
  padding: .5rem;
  width: 5rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 10rem;
  position: relative;
}

.Projects .box-container .box img{
  height: 18rem;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}

.Projects .box-container .box h3{
  font-size: var(--h2-font-size);
  left: 3.5rem;
  margin-bottom: 1rem;
  margin: .5rem 0 1.25rem;
  color: #46244C;
}

.Projects .box-container .box a{
  font-size: 1rem;
  left: 3.5rem;
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;
  color: #46244C;
}


   


/*=============== CONTACTS ===============*/
#head-4{
  position: relative;
  color: #46244C;
  margin: .6rem;
  margin-bottom: 1cm;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
}

#Contact{
    top: 1rem;
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .5rem;
}

.contact-section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem ;
}

.contact-info{
  position: relative;
  color: #46244C;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 22px;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  top: .5rem;
  color: #46244C;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 40px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px ;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px ;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  bottom: 3rem;
  background-color: #46244C;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover{
  background:#8D72E1;
  color: #000;
}



@media screen and (max-width: 850px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

  .contact-form .text-box{
    width: 100%;
  }
}

